*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: aliceblue;
    margin: 0;
}

.altogether1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gold;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

.ptags{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    margin-left: 2rem;
}

.ptags a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.images{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sure img{
    width: 60px;
    height: 60px;
    margin-top: .5rem;
    border-radius: 5px;
}

.images a{
    width: 40px;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: black;
}

.Hotline{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.Hotline button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.Hotline p{
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    font-style: normal;
    font-family: cursive;
}

.cart-icon{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1px solid #000;
}

.cart-icon .fa-cart-plus{
    font-size: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.buttons .but{
    background-color: blue;
    width: 60px;
    height: 40px;
}

.drop{
    display: none;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar > li {
    position: relative;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.dropdown{
    font-size: 25px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    min-width: 200px;
    margin: 1rem;
    z-index: 2000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown-menu a{
    padding: 10px;
    color: white;
    border-bottom: 1px dotted white;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: white;
    color: black;
    text-align: center;
}

.icon2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.image{
    background-color: black;
    color: gold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    border: .5rem auto;     
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 0rem;
}

.image .fa-chevron-up{
    font-size: 30px;
}

.what{
    display: flex;
    align-items: center;
    justify-content: center;
}

.what p{
    width: 250px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: 200;
    text-align: center; 
}

.whatsApp{
    position: relative;
    bottom: 0;
}

.whatsApp img{
    width: 100px;
    height: 100px;
}

.what p{
    font-size: 20px;
    font-weight: 200;
}

.altogether2{
    background-color: white;
    padding-top: 7rem;
    margin-bottom: 3rem;  
}

.appeal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.meat h1{
    font-size: 35px;
    font-weight: 700;
    color: orange;
    padding-bottom: 1.5rem;
}

.meat p{
    font-size: 18px;
    font-weight: 200;
    width: 30rem;
    padding-bottom: 1rem;
}

.ass img{
    padding-right: 1rem;
    width: 500px;
    height: 400px;
}

.altogether3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.appeal2{
    display: flex;
    align-items: center;
    background-color: white;
    width: 45%;
    border-radius: 8px;
    gap: 1rem;
}

.kob{
    background-color: black;
    color: gold;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    border: .5rem auto;     
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 0rem;
}

.kob img{
    width: 80px;
    height: 80px;
    padding-top: .8rem;
}

.abuse h2{
    font-size: 25px;
    font-weight: 200;
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.doe{
    padding-bottom: 1rem;
}

.check{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.check p{
    font-size: 18px;
    font-weight: 200;
    padding-bottom: .5rem;
}

.check span{
    font-size: 20px;
    font-weight: 200;
    padding-bottom: .5rem;
}

.kobe img{
    width: 70px;
    height: 70px;
    padding-top: .8rem;
}

.altogether4{
    background-color: white;
    margin-bottom: 3rem;
}

.altogether4 h2{
    font-size: 35px;
    font-style: normal;
    color: #131313;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 41.6x;
}

.appeal3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.kob2{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
}

.fa-facebook{
    font-size: 40px;
}

.fa-instagram{
    font-size: 40px;
}

.fa-tiktok{
    font-size: 40px;
}

.fa-youtube{
    font-size: 40px;
}

.just p{
    font-size: 20px;
    font-weight: 200;
}

.just span{
    font-size: 20px;
}

.altogether5{
    background-color: white;
    color: black;
    height: fit-content;
}

.altogether5 h2{
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 2rem;
    font-size: 35px;
    color: orange;
    font-weight: 700;
}

.appeal4{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.uh{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.uh img{
    height: 100px;
    width: 90px;
    padding-bottom: .5rem;
    border-radius: 5px;
    object-fit: cover;
}

.yeap{
    padding-bottom: 1.5rem;
}

.yeap h3{
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 1rem;
}

.yeap p{
    font-size: 17px;
    font-weight: 100;
}


footer{
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: fit-content;
}

.vote{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-bottom: 2rem;
}

.mine p{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 3rem;
}

.mine .same{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.same a{
    text-decoration: none;  
    color: white;
    padding-top: 1rem;
    font-size: 15px;
    font-weight: 300;
}

.here h3{
    color: white;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 200;
    text-align: center;
}

.here .happy{
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding-top: .1rem;
    padding-bottom: 8.5rem;
    text-align: center;
}

.in{
    padding-left: 4.9rem;
    padding-bottom: 1.5rem;
}

.in span{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.in .same{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-facebook{
    color: orange;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-instagram{
    color: orange;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-youtube{
    color: orange;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-tiktok{
    color: orange;
    font-size: 40px;
    padding-top: 1rem;
}

.ok p{
    border-top: 1px dotted white;
    padding-top: 1rem;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/* For mobile media query starts */
@media screen and (max-width: 767px) {
    .altogether1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .Hotline{
        margin-right: .5rem;
    }
    
    .Hotline button{
        display: none;
    }
    
    .ptags{
        display: none;
    }
    
    .Hotline p{
        display: none;
    }
    
    .buttons .but{
        display: none;
    }
    
    .buttons span{
        display: none;
    }
    
    .drop{
        display: block;
    }

    .what p{
        display: none;
    }

    .whatsApp img{
        width: 140px;
        height: 140px;
    }

    .appeal{
       flex-direction: column;
        padding-bottom: 2rem;
    }
    
    .meat h1{
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
    
    .meat p{
        font-size: 18px;
        font-weight: 200;
        width:100%;
        padding-bottom: 1.5rem;
    }

    .ass img{
       width: 99%;
       padding-left: 2rem;
    }

    .altogether3{
        flex-direction: column;
    }

    .appeal2{
        flex-direction: column;
        background-color: white;
        width: 95%;
        border-radius: 8px;
        margin-bottom: 2rem;
        gap: 1.5rem;
    }

    .kob img{
        padding-bottom: .5rem;
    }

    .doe{
        gap: 1.5rem;
    }

    .abuse h2{
        text-align: center;
    }

    .altogether4 h2{
        font-size: 25px;
        font-style: normal;
        color: #131313;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        font-weight: 400;
        line-height: 41.6x;
    }
    
    .appeal3{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 2rem;
    }
    
    .kob2{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
        padding-left: 3.5rem;
    }
    
    .fa-facebook{
        font-size: 50px;
    }
    
    .fa-instagram{
        font-size: 50px;
    }
    
    .fa-tiktok{
        font-size: 50px;
    }
    
    .fa-youtube{
        font-size: 50px;
    }
    
    .just p{
        font-size: 20px;
        font-weight: 200;
    }
    
    .just span{
        font-size: 20px;
    }
    
    .altogether5 h2{
        font-size: 30px;
        color: white;
        font-weight: 700;
    }
    

    .appeal4{
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }

    .uh{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .uh img{
        padding-bottom: .5rem;
        width: 90%;
        height: 200px;
    }

    .yeap h3{
        text-align: center;
    }

    .yeap p{
        text-align: center;
    }
    
    .vote{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        padding-bottom: 1rem;
    }
}
/* For mobile media query ends*/

/* For tablets media query starts */
@media screen and (max-width: 1000px) {
    .ptags{
        display: none;
    }

    .drop{
        display: block;
    }



    .whatsApp img{
        width: 140px;
        height: 140px;
    }

    .appeal{
        flex-direction: column;
         padding-bottom: 2rem;
    }
     
    .meat h1{
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
     
    .meat p{
        font-size: 18px;
        font-weight: 200;
        width:100%;
        padding-bottom: 1.5rem;
    }
 
    .ass img{
        width: 99%;
        padding-left: 2rem;
    }


    .altogether3{
        flex-direction: column;
    }

    .appeal2{
        flex-direction: column;
        background-color: white;
        width: 95%;
        border-radius: 8px;
        margin-bottom: 2rem;
        gap: 1.5rem;
    }

    .kob img{
        padding-bottom: .5rem;
    }

    .doe{
        gap: 1.5rem;
    }

    .abuse h2{
        text-align: center;
    }

    .kob2{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
        padding-left: 3.5rem;
    }
    
}