*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: aliceblue;
    margin: 0;
}

.altogether1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gold;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

.ptags{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    margin-left: 2rem;
}

.ptags a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.images{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.image img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.images p{
    width: 40px;
    font-size: 20px;
    font-weight: 100;
}

.Hotline{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.Hotline button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.Hotline p{
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    font-style: normal;
    font-family: cursive;
}

.cart-icon{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1px solid #000;
}

.cart-icon .fa-cart-plus{
    font-size: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.buttons .but{
    background-color: blue;
    width: 60px;
    height: 40px;
}

.drop{
    display: none;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar > li {
    position: relative;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.dropdown{
    font-size: 25px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    min-width: 200px;
    margin: 1rem;
    z-index: 2000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown-menu a{
    padding: 10px;
    color: white;
    border-bottom: 1px dotted white;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: white;
    color: black;
    text-align: center;
}

.together{
    background: red;
    height: 30%;
    padding: 4rem 0rem .6rem 0rem;
}

.search{
    margin: auto;
    border-radius: 50px;
    background-color: white;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
}


.searchme{
    border: none;
}

.search .searchme:focus{
    outline: none;
}

.fa-magnifying-glass{
    color: grey;
}

.carousel {
  position: relative;
  width: 100%;
  height: 470px;
  overflow-x: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 470px;
}

.carousel-images .slide {
  width: 100%;
  flex-shrink: 0;
  height: 470px;
  background-size: cover;
  position: relative;
}

.slide1 {
    background-image: url('./pexels-garrettmorrow-1649771.jpg');
}

.slide2 {
    background-image: url('./pexels-frojas-5688836.jpg');
}

.slide3 {
    background-image: url('./pexels-soulful-pizza-2080276-3780681.jpg');
}

.carousel-images .slide p {
  position: absolute;
  bottom: 50%;
  left: 33%;
  color: white;
  font-size: 25px;
  background-color: transparent;
  padding: 3rem 5rem 4rem 5rem;
  border-radius: 5px;
}

.carousel-images .slide button{
    position: absolute;
    bottom: 50%;
    left: 44%;
    color: white;
    font-size: 25px;
    border: none;
    background-color: red;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.carousel-button {
  position: absolute;
  top: 30%;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
}

.carousel-button.left {
  left: 20px;
}

.carousel-button.right {
  right: 20px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.section2{
    margin-bottom: 7rem;
}

.by h2{
    font-size: 52px;
    font-style: normal;
    color: #131313;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 41.6x;
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-left: 1rem;
    overflow-x: scroll;
}

.categories::-webkit-scrollbar{
    display: none;
}

.image-contain{
    position: relative;
}

.image-contain:hover{
    scale: 1.05;
}

.image-contain1{
    background-image: url('./laptop.webp');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain2{
    background-image: url('./ps5.jpeg');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.image-contain3{
    background-image: url('./smartwatch.webp');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain4{
    background-image: url('./four\ control\ pad.jpg');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain5{
    background-image: url('./shoes.webp');
    width: 430px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.image-contain6{
    background-image: url('./istockphoto-2176595900-1024x1024.jpg');
    height: 300px;
    width: 430px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain7{
    background-image: url('./pexels-amanjakhar-1124466.jpg');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain8{
    background-image: url('./biscuit.jpeg');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain9{
    background-image: url('./wine.jpeg');
    height: 300px;
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.image-contain p{
    font-size: 28px;
    padding: 1rem;
    color: white;
}

.image-contain .h{
    font-size: 28px;
    padding: 1rem;
    color: black;
}

.image-contain button{
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 55px;
    display: none;
}

.image-contain:hover button{
    display: block;
}

footer{
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 600px;
}

.vote{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-bottom: 2rem;
}

.mine p{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 3rem;
}

.mine .same{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.same a{
    text-decoration: none;  
    color: white;
    padding-top: 1rem;
    font-size: 15px;
    font-weight: 300;
}

.here h3{
    color: white;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 200;
    text-align: center;
}

.here .happy{
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding-top: .1rem;
    padding-bottom: 8.5rem;
    text-align: center;
}

.in{
    padding-left: 4.9rem;
    padding-bottom: 1.5rem;
}

.in span{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.in .same{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-facebook{
    color: white;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-instagram{
    color: white;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-youtube{
    color: white;
    font-size: 40px;
    padding-top: 1rem;
}

.fa-tiktok{
    color: white;
    font-size: 40px;
    padding-top: 1rem;
}

.ok p{
    border-top: 1px dotted white;
    padding-top: 1rem;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}


/* For mobile media query starts */
@media screen and (max-width: 767px) {
    .altogether1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Hotline{
        margin-right: .5rem;
    }

    .Hotline button{
        display: none;
    }

    .ptags{
        display: none;
    }
    
    .Hotline p{
        display: none;
    }

    .buttons .but{
        display: none;
    }

    .buttons span{
        display: none;
    }

    .drop{
        display: block;
    }

    .together{
        background: red;
        height: 30vh;
        padding: 4rem 0rem 0rem 0rem;
    }

    .search{
        margin: auto;
        border-radius: 50px;
        background-color: white;
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-top: 1.5rem;
    }

    .carousel-images .slide p {
        position: absolute;
        bottom: 50%;
        left: 5%;
        color: white;
        font-size: 25px;
        background-color: transparent;
        padding: 3rem 0rem 4rem 0rem;
        border-radius: 5px;
    }
      
    .carousel-images .slide button{
        position: absolute;
        bottom: 50%;
        left: 30%;
        color: white;
        font-size: 25px;
        border: none;
        background-color: red;
        padding: .5rem;
        margin-bottom: .5rem;
        border-radius: 5px;
    }

    .section2{
        margin-bottom: .5rem;
    }
    

    .by h2{
        font-size: 35px;
        font-style: normal;
        color: #131313;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 400;
        line-height: 41.6x;
    }

    .image-contain p{
        font-size: 20px;
        padding: 1rem;
        color: white;
    }

    .image-contain .h{
        font-size: 20px;
        padding: 1rem;
        color: black;
    } 
    
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        margin: auto 1rem;
    }

    .image-contain1{
        background-image: url('./laptop.webp');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain2{
        background-image: url('./ps5.jpeg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }
    
    .image-contain3{
        background-image: url('./smartwatch.webp');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain4{
        background-image: url('./four\ control\ pad.jpg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain5{
        background-image: url('./shoes.webp');
        width: 270px;
        margin: .5rem auto;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }
    
    .image-contain6{
        background-image: url('./istockphoto-2176595900-1024x1024.jpg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-color: red;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain7{
        background-image: url('./pexels-amanjakhar-1124466.jpg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain8{
        background-image: url('./biscuit.jpeg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain9{
        background-image: url('./wine.jpeg');
        height: 300px;
        width: 270px;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }

    .vote{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        padding-bottom: 1rem;
    }
    

    footer{
        background-color: rgb(25, 25, 25);
        width: 100%;
        height: 1000px;
    }
}
/* For mobile media query ends*/

/* For tablets media query starts */
@media screen and (max-width: 1000px) {
    .ptags{
        display: none;
    }

    .drop{
        display: block;
    }

    .search{
        margin: auto;
        border-radius: 50px;
        background-color: white;
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-top: 1.5rem;
    }

    .section2{
        margin-bottom: .1rem;
    }

    .categories{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        margin: auto 1rem;
    }

    .image-contain1{
        background-image: url('./laptop.webp');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain2{
        background-image: url('./ps5.jpeg');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }
    
    .image-contain3{
        background-image: url('./smartwatch.webp');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain4{
        background-image: url('./four\ control\ pad.jpg');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain5{
        background-image: url('./shoes.webp');
        width: 90%;
        margin: .5rem auto;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }
    
    .image-contain6{
        background-image: url('./istockphoto-2176595900-1024x1024.jpg');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-color: red;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain7{
        background-image: url('./pexels-amanjakhar-1124466.jpg');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    
    .image-contain8{
        display: none;
    }
    
    .image-contain9{
        background-image: url('./wine.jpeg');
        height: 300px;
        width: 90%;
        margin: .5rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }

    footer{
        background-color: rgb(25, 25, 25);
        width: 100%;
        min-height: 1300px;
    }

    .vote{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        padding-bottom: 2rem;
    }
}
/* For tablets media query ends */